<!DOCTYPE html>
<html lang="en">
<head >
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    <title>MiniShop</title>
</head>
<body style="text-align: center; background-color: blanchedalmond;">
    <h1>Welcome</h1>
    <h2>This is the Project homepage</h2>
    <a href="/shop/products" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Go to Shop</a>


</body>
</html>