
{% load static %}

<footer class="footer navbar-fixed-bottom" >
      <div class="d-lg-flex justify-content-between">
        <a class="navbar-brand" href="/shop/products">
          <img src="{% static 'shop/' %}logo.png"  width="30" height="30" class="d-inline-block align-top" alt="">
          MiniShop
        </a>
        <div class="copyright">
          <p>Developed and maintained by <a href="https://github.com/Ahmadra221?tab=repositories" target="_blank">Ahmad Rajab</a></p>
        </div>
        <div>
          <ul class="d-flex gap-3 list-unstyled">
            <li><a href="#"><i class="bi bi-facebook"></i></a></li>
            <li><a href="#"><i class="bi bi-twitter"></i></a></li>
            <li><a href="#"><i class="bi bi-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </footer>